.Content_text{
  font-size: 20px;
  font-style: normal;
  font-family: var(--font-roboto);
}

.Card_text{
  text-align: center;
  font-size: 16px;
  font-family: var(--font-manrope);
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.icon{
  transform: translateY(15%);
  margin-right: 15px;
}


.modal{
  font-size: 14px;
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 400;
  margin: 0;
  //line-height: 16px;
}


@media (max-width: 500px) {
  .Content_text{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}



